# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\programming\testmax_mcq_test_taking_tool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
